<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- General Configuration -->
    <add key="SETS" value="WITSML131,WITSML141,WITSML200,PRODML122,PRODML131,PRODML200,RESQML110,RESQML200,RESQML201,RESQML210"/>
    <add key="ENERGISTICS_FOLDER" value="{ROOT_FOLDER}\doc\Standards\energyml" />
    <add key="SOLUTION_FOLDER" value="{ROOT_FOLDER}\source\DevKitGenerator" />
    <add key="ENERGY_ML_GENERATOR_PROJ_PATH" value="{SOLUTION_FOLDER}\Generator" />
    <add key="MS_SDK" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin" />
    <!-- window 8 C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin> -->
    <!-- WITSML 1.3.1 Configuration -->
    <add key="WITSML131_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.3.1.1" />
    <add key="WITSML131_ABSTRACTXSD_PATH" value="" />
    <add key="WITSML131_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.3.1.1\ancillary\enumValues.xml" />
    <add key="WITSML131_ENUMVALPRODML_PATH" value="" />
    <add key="WITSML131_WSDL" value="{ENERGISTICS_FOLDER}\api\witsml\v1.3.1" />
    <add key="WITSML131_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.WITSML" />
    <add key="WITSML131_VERSION_STRING" value="1.3.1.1" />
    <!-- WITSML 1.4.1.1 Configuration -->
    <add key="WITSML141_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.4.1.1\Witsml_v1.4.1.1_data\xsd_schemas" />
    <add key="WITSML141_ABSTRACTXSD_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.4.1.1\abstract_v1.0\xsd_schemas" />
    <add key="WITSML141_GML_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.4.1.1\gml_witsml_v1.4.1_profile" />
    <add key="WITSML141_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v1.4.1.1\witsml_v1.4.1.1_data\ancillary\enumValues.xml" />
    <add key="WITSML141_ENUMVALPRODML_PATH" value="" />
    <add key="WITSML141_WSDL" value="{ENERGISTICS_FOLDER}\api\witsml\v1.4.1\witsml_v1.4.1.1_api" />
    <add key="WITSML141_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.WITSML" />
    <add key="WITSML141_VERSION_STRING" value="1.4.1.1" />
    <add key="WITSML141_RASTERXSD_PATH" value="{ENERGISTICS_FOLDER}\data\raster\v1.0\xsd_schemas" />
    <add key="WITSML141_COMPLETIONSXSD_PATH" value="{ENERGISTICS_FOLDER}\data\completions\v1.0\completions_v1.0\xsd_schemas" />
    <!-- WITSML 2.0.0 Configuration -->
    <add key="WITSML200_COMMON_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.1\xsd_schemas"/>
    <add key="WITSML200_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\witsml\v2.0\xsd_schemas"/>
    <add key="WITSML200_ABSTRACTXSD_PATH" value="" />
    <add key="WITSML200_ENUMVAL_PATH" value="" />
    <add key="WITSML200_ENUMVALPRODML_PATH" value="" />
    <add key="WITSML200_WSDL" value="" />
    <add key="WITSML200_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.WITSML" />
    <add key="WITSML200_VERSION_STRING" value="2.0" />
    <!-- PRODML 1.2.2 Configuration -->
    <add key="PRODML122_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.2.2\prodml_v1.2.2_data\xsd_schemas" />
    <add key="PRODML122_ABSTRACTXSD_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.2.2\abstract_v1.0\xsd_schemas" />
    <add key="PRODML122_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.2.2\prodml_v1.2.2_data\ancillary\enumValues.xml" />
    <add key="PRODML122_ENUMVALPRODML_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.2.2\prodml_v1.2.2_data\ancillary\enumValuesProdml.xml" />
    <add key="PRODML122_WSDL" value="{ENERGISTICS_FOLDER}\api\prodml\v2.1.0.1\WSDL" />
    <add key="PRODML122_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.PRODML" />
    <add key="PRODML122_VERSION_STRING" value="1.2.0.0(PRODML)" />
    <!-- PRODML 1.3.1 Configuration -->
    <add key="PRODML131_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.3\prodml_v1.3_data\xsd_schemas" />
    <add key="PRODML131_ABSTRACTXSD_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.3\abstract_v1.0\xsd_schemas" />
    <add key="PRODML131_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.3\prodml_v1.3_data\ancillary\enumValues.xml" />
    <add key="PRODML131_WSDL" value="{ENERGISTICS_FOLDER}\api\prodml\v2.1.0.1\WSDL" />
    <add key="PRODML131_ENUMVALPRODML_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v1.3\prodml_v1.3_data\ancillary\enumValuesProdml.xml" />
    <add key="PRODML131_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.PRODML" />
    <add key="PRODML131_VERSION_STRING" value="1.3.1.1(PRODML)" />
    <!-- PRODML 2.0.0 Configuration -->
    <add key="PRODML200_COMMON_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.1\xsd_schemas"/>
    <add key="PRODML200_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\prodml\v2.0\xsd_schemas"/>
    <add key="PRODML200_ABSTRACTXSD_PATH" value="" />
    <add key="PRODML200_ENUMVAL_PATH" value="" />
    <add key="PRODML200_ENUMVALPRODML_PATH" value="" />
    <add key="PRODML200_WSDL" value="" />
    <add key="PRODML200_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.PRODML" />
    <add key="PRODML200_VERSION_STRING" value="2.0" />
    <!-- RESQML 1.1 Configuration -->
    <add key="RESQML110_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v1.1\resqml_v1.1.0_data\xsd_schemas" />
    <add key="RESQML110_DUBLIN_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v1.1\dublinCoreTerms_resqml_v1.0_profile" />
    <add key="RESQML110_GML_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v1.1\gml_resqml_v1.0_profile" />
    <add key="RESQML110_ABSTRACTXSD_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v1.1\abstract_v1.0\xsd_schemas" />
    <add key="RESQML110_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v1.1\resqml_v1.1.0_data\ancillary\enumValuesResqml.xml" />
    <add key="RESQML110_ENUMVALPRODML_PATH" value="" />
    <add key="RESQML110_WSDL" value="" />
    <add key="RESQML110_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.RESQML" />
    <add key="RESQML110_VERSION_STRING" value="1.1.0.0(RESQML)" />

    <!-- RESQML 2.0 Configuration -->
    <add key="RESQML200_COMMON_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.0\xsd_schemas"/>
    <add key="RESQML200_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v2.0\xsd_schemas" />
    <add key="RESQML200_DUBLIN_PATH" value="" />
    <add key="RESQML200_GML_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.0\xsd_schemas" />
    <add key="RESQML200_ABSTRACTXSD_PATH" value="" />
    <add key="RESQML200_ENUMVAL_PATH" value="" />
    <add key="RESQML200_ENUMVALPRODML_PATH" value="" />
    <add key="RESQML200_WSDL" value="" />
    <add key="RESQML200_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.RESQML" />
    <add key="RESQML200_VERSION_STRING" value="2.0" />

    
    <!-- RESQML 2.01 Configuration -->
    <add key="RESQML201_COMMON_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.0\xsd_schemas"/>
    <add key="RESQML201_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v2.0.1\xsd_schemas" />
    <add key="RESQML201_DUBLIN_PATH" value="" />
    <add key="RESQML201_GML_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.0\xsd_schemas" />
    <add key="RESQML201_ABSTRACTXSD_PATH" value="" />
    <add key="RESQML201_ENUMVAL_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v2.0.1\ancillary\enumValuesResqml.xml" />
    <add key="RESQML201_WSDL" value="" />
    <add key="RESQML201_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.RESQML" />
    <add key="RESQML201_VERSION_STRING" value="2.0.1" />
  
    <!-- RESQML 2.0.0 Configuration -->
    <add key="RESQML210_COMMON_PATH" value="{ENERGISTICS_FOLDER}\data\common\v2.1\xsd_schemas"/>
    <add key="RESQML210_XSD_PATH" value="{ENERGISTICS_FOLDER}\data\resqml\v2.1\xsd_schemas"/>
    <add key="RESQML210_ABSTRACTXSD_PATH" value="" />
    <add key="RESQML210_ENUMVAL_PATH" value="" />
    <add key="RESQML210_ENUMVALPRODML_PATH" value="" />
    <add key="RESQML210_WSDL" value="" />
    <add key="RESQML210_ENERGY_ML_DATA_ACCESS_PROJ_PATH" value="{SOLUTION_FOLDER}\DataAccess.RESQML" />
    <add key="RESQML210_VERSION_STRING" value="2.1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
